<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/static/css/blog.css" type="text/css" media="screen"/>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">

        <div>
          {% if not current_user %}
            {{ _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": escape(users.create_login_url(request.uri))} }}
          {% else %}
            {% if current_user.administrator %}
              <a href="/compose">{{ _("New post") }}</a> -
            {% end %}
            <a href="{{ escape(users.create_logout_url(request.uri)) }}">{{ _("Sign out") }}</a>
          {% end %}
        </div>
        <h1><a href="/">{{ escape(handler.settings["blog_title"]) }}</a></h1>
      </div>
      
      <div id="left-col">
        <a href="#" class="orange button">New Blogzz</a>
        
        <div id="categories">
          <h4>Categories</h4>
          <div id="catbox">
            <ul>
              <li><a href="#">categoria 1</a></li>
              <li><a href="#">categoria 2</a></li>
              <li><a href="#">categoria 3</a></li>

              <li><a href="#">categoria 4</a></li>
              <li><a href="#">categoria 5</a></li>
              <li><a href="#">categoria 6</a></li>
              <li><a href="#">categoria 7</a></li>
              <li><a href="#">categoria 8</a></li>
              <li><a href="#">categoria 9</a></li>

              <li><a href="#">categoria 10</a></li>
            </ul> 
          </div>
        </div>
            
        <div id="tags">
          <h4>Tags</h4>
          <div id="tagbox">
            <ul>
              <li><a href="#">tag 1</a></li>
              <li><a href="#">tag 2</a></li>
              <li><a href="#">tag 3</a></li>
              <li><a href="#">tag 4</a></li>
              <li><a href="#">tag 5</a></li>
              <li><a href="#">tag 6</a></li>

              <li><a href="#">tag 7</a></li>
              <li><a href="#">tag 8</a></li>
              <li><a href="#">tag 9</a></li>
              <li><a href="#">tag 10</a></li>
            </ul> 
          </div>
        </div>         
      </div>

      
      <div class="division">
        <img src="/static/imgs/div.png" />
      </div>
      
      <div id="main">
        
        <h2><a href="/" class="orange button navlinks">Home</a></h2>
        <h2><a href="#" class="orange button navlinks">Settings</a></h2>
                
        <p class="name">Joe Doe</p>

        <img src="/static/imgs/rss.png" />

        <div id="boxcontent">{% block body %}{% end %}</div>
      </div>
      
      <div class="division">
        <img src="/static/imgs/div.png" />
      </div>
      
      <div id="right-col">

          <div id="twitter">
            <h4>Tweets</h4>
            <div id="tweets">
              <p>Ejemplo de un tweet</p>
              <p>Segundo tweet</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

          </div>
      </div>
	
      <div id="footer">			
          <ul id="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>      
      </div> <!-- Fin Footer-->
			
    {% block bottom %}{% end %}
    </div> <!-- End #wrapper -->  
  </body>
</html>
